
    body{
        background-color: rgb(255, 255, 255);
        overflow-x: hidden;
    }

    span{
        color: red;
        
    }

    nav{
        position: absolute;
        top: 0;
        background-color: black;
        width: 1920px;
        height: 50px;
        margin-left: -47%;
    }

    nav ul a{
        color: white;
        text-decoration-line: none;
        padding: 20px;
    }

    nav ul a:hover{
        color: black;
        background-color: white;
        transition: 0.5s;
        
        padding: 5px 5px 5px 5px;
    }
    
    .topnavadmin-container{
        display: none;
    }



    .login-container{
        top: 10px;
        position: relative;
        margin-right: 40px;
    }

    .rightbuttons-container{
        margin-left: 45%;
    }

    .botaologin-container{
        margin-left: 77%;
    }

    .modalacesso-container a{
        margin-left: 49%;
        
    }

    .loginsection-container h1{
        text-align: center;
    }

    .registersection-container h1{
        text-align: center;
    }

    .botaologin-container a{
        text-decoration: none;
        font-size: 20px;
        background-color: rgb(0, 0, 0);
        border-color: white;
        border-radius: 30px;
        color: #ffffff;
    }

    .botaologin-container a:hover{
        background-color: #ffffff;
        color: rgb(0, 0, 0);
        transition: 0.5s;
    }

    .verification-container{
        margin-left: 55%;
        margin-top: -55px;
        position: relative;
    }

    .verification-container a{
        text-decoration-line: none;
        color: white;
        padding: 20px;
    }

    .verification-container a:hover{
        color: black;
        background-color: white;
        transition: 0.5s;
        padding: 5px 5px 5px 5px;
    }

    .botoesverif-container a{
        margin-top: 10%;
    }

    .caixainicial-container{
        position: relative;
        
        float: left;
    }

    .caixainicial-container p{
        font-size: 30px;
        text-align: justify;
    }

    .imageminicial-container{
        margin-left: 55%;
        margin-top: 4%;
    }

    .imageminicial-container img{
        width: 100%;
        border-radius: 30px;

    }

    .modalacesso-container .titulo-container p{
        color: black; 
        font-size: 20px;
    }

    .titulo-container{
        top: 60px;
    }

    ::placeholder{
        text-align: center;
    }

    .close:hover { 
        background: #00d9ff; 
    }

    .modalacesso-container{
        width: auto;
        text-align: center;
        margin-top: -25px;
        margin-left: 50%;
    }


    .modalacesso-container a{
        text-decoration: none;
        font-size: 20px;
        background-color: white;
        border-color: white;
        border-radius: 40px;
        border-width: 40px;
        color: #000000;
        
    }

    .modalacesso-container a:hover{
        background-color: #000000;
        color: white;
        transition: 0.5s;
    }

    form{
        margin-left: 42%;
        width: 200px;
        height: auto;
    }

    form label{
        text-align: center;
        color: rgb(0, 0, 0);
        font-size: 14px;
    }

    .formulario input[type=text]{
        width: 100%;
        height: 25px;
        padding: 10px 10px;
        text-align: center;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
    }
    

    .formulario input[type=email]{
        width: 100%;
        height: 25px;
        text-align: center;
        padding: 10px 16px;
        margin: 10px 0;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
    }

    .formulario input[type=password]{
        width: 100%;
        height: 25px;
        padding: 10px 16px;
        
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
    }


    .formulario input[type=tel]{
        width: 100%;
        height: 25px;
        padding: 10px 16px;
        
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
    }


    .formulario input[type=submit] {
        width: 100%;
        background-color: white;
        color: #000000;
        padding: 12x 16px;
       
        border: none;
        border-radius: 4px;
        cursor: pointer;
        height: 20px;
    }

    .formulario input[type=submit]:hover{
        color: white;
        background-color: #000000;
        border-color: white;
        border-width: thick;
        transition: 0.5s;
        height: 40px;

    }

    .formulariodois input[type=submit] {
        width: 100%;
        background-color: white;
        color: #000000;
        padding: 12x 16px;
       
        border: none;
        border-radius: 4px;
        cursor: pointer;
        height: 20px;
    }

    .formulariodois input[type=submit]:hover{
        color: white;
        background-color: #000000;
        border-color: white;
        border-width: thick;
        transition: 0.5s;
        height: 40px;

    }

    footer {
        position: fixed;
        height: 50px;
        background-color: rgb(0, 0, 0);
        bottom: 0px;
        left: 0px;
        right: 0px;
        margin-bottom: 0px;
    }

    footer p{
        text-align: center;
        color: white;
        font-size: 20px;
    }

    table {
        border-collapse: collapse;
        width: 100%;
    }

    table a{
        text-decoration: none;
        color: black;
       
    }

    table a:hover{
        color: green;
        transition: 0.5s;
    }
      
    th, td {
        padding: 8px;
        text-align: left;
        border-bottom: 1px solid #ddd;
    }
      
    td:hover {
        background-color: rgb(197, 197, 179);
        transition: 0.5s;
    }

    .about-section{
        margin-top: 4vw;
    }

    .about-section p{
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        text-align: justify;
        font-size: 2em;
        padding: 1vw;
    }

    .contact-section p{
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        text-align: justify;
        font-size: 2em;
        padding: 1vw;
    }